body {
	font-family: Arial, sans-serif;
	font-size: calc(18px + 1vw);
	color: black;
	padding: 0;
	margin: 0;
 }
.container {
	padding: 0px 10px;
	margin: 0 auto;
}
h1 {
	font-size: 1.2em;
	padding: 0;
	margin: 0;
	}
h2 {
	font-size: 1.1em;
    line-height: 1.0;
	}
h3 {
	font-size: 1.0em;
    line-height: 0.8;
	}
h4 {
	font-size: 0.9em;
    line-height: 1.0;
	}
button {
	height: 2em;
	padding: 0 0.5em;
    margin: 1em 0 ;
	color: black;
	font-size: 0.8em;
    font-weight: bold;
	width: 12em;
	background-color: cornsilk;
}
.two_in_line {
    width: 30%;
    margin-left: 5%;
}
input{
	height: 1.6em;
	width: 90%;
	padding: 0 0.5em;
	color: black;
	font-size: 0.8em;
	margin: 0.5em 0.5em 0.5em 0;
	background-color: cornsilk;
}
input[type=button] {
	height: 2em;
	padding: 0 0.5em;
    margin: 1em 0 ;
	color: black;
	font-size: 0.8em;
    font-weight: bold;
	width: 12em;
	background-color: cornsilk;
}
input[type=date] {
    width: 30%;
	height: 1.5em;
    margin-left: 1em;
	font-size: 0.75em;
	background-color: cornsilk;
}
input[type=number] {
    width: 2em;
	height: 1.5em;
    margin: 0;
	font-size: 0.75em;
	background-color: cornsilk;
}
input[type=radio] {
    width: 0.8em;
    height: 0.8em;
    margin-left: 2em;
    margin-top: 0.5em;
}
input[type=checkbox] {
    width: 0.8em;
    height: 0.8em;
}
.checkbox_margin {
    margin: 0 0 0 3em;
    padding-top: 0.5em;
}
select{
    width: 100%;
	height: 1.5em;
	font-size: 0.75em;
	padding: 0 0.5em;
	margin: 0.5em 0;
	background-color: cornsilk;
}
textarea{
    width: 100%;
	rows: 4;
	font-size: 0.9em;
	padding: 0px 8px;
	margin: 2px 0px;
    wrap: soft;
	background-color: cornsilk;
}
img {
    margin-left: 2em;
    width: 24px;
    height: 24px;
}
.main_block {
    float: left;
    width: 100%;
}
.field {
	clear: both;
	text-align: right;
	line-height: 2em;
}
label {
	float: left;
	font-size: 1em;
	width: 40%;
	padding-right: 1%;
	padding-top: 0.5em;
	margin-right: 2%;
}
.content {
    width: 40%;
	text-align: left;
	padding: 0px 4px;
}
p {clear: both;}
.user_title {
	padding: 0px 10px;
	display: flex;
	flex-direction: row;
    justify-content: flex-end;
    font-size: 0.7em;
    margin-top: 4px;
}
.user_title span{
	margin-right: 20px;
    font-weight: bold;
}
.title_row{
	display: flex;
  	flex-direction: row;
  	justify-content: left;
    vertical-align: bottom;
    width: 100%;
}
.title_left{
	display: flex;
  	flex-direction: row;
  	justify-content: left;
    width: 40%;
    vertical-align: bottom;
    margin-right: 0.5em;
}
.title_name{
    width: 50%;
    font-size: 0.7em;
    margin-left: 1%;
}
.reload_line {
    font-size: 0.8em;
    color: blue;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 0.2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.6em;
    }
.cut_line {
    font-size: 0.8em;
    color: red;
    text-decoration: underline;
    margin: 0.5em 1em;
    text-align: center;
    }
#clean_courier {
    font-size: 0.8em;
    text-decoration: underline;
    margin: 0.5em 1em;
    text-align: center;
    }
.table_body td{
    text-align: left;
    font-size: 0.8em;
    padding: 0 4px;
    vertical-align: top;
}
.color_text{
    width: 50%;
    font-size: 0.75em;
    color: blue;
    margin-left: 1%;
    font-weight: bold;
}
.scroll_table {
    height: 50%;
    overflow-y: auto;
}
.scroll_table table{
    table-layout: fixed;
    border-bottom: none;
    width: 100%;
}
.scroll_table thead th{
    text-align: center;
    font-size: 0.85em;
    padding: 3px;
    border: 1px solid black;
    position: sticky;
    top: 0;
    background: white;
}
.scroll_table td{
    text-align: left;
    font-size: 0.8em;
    padding: 3px;
    vertical-align: top;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid black;
}
.table_shot {
    border-bottom: none;
    width: 100%;
}
.table_shot thead th{
    font-size: 0.8em;
    font-weight: bold;
    top: 0;
    border: 1px solid black;
    text-align: center;
}
.table_shot td{
    font-size: 0.8em;
    text-align: left;
    padding: 3px;
    vertical-align: top;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid black;
}
table {
    border: none;
    width: 100%;
    font-size: 0.8em;
}
table th{
    font-size: 0.8em;
    text-align: left;
}
.table_title{
    width: 35%;
    font-size: 0.8em;
    font-weight: normal;
}
#parcels_payment_table td:nth-child(7) {
    text-align: right;
    padding-right: 4px;
}
#points_payment_table td:nth-child(7) {
    text-align: right;
    padding-right: 4px;
}
#parcels_table td:nth-child(8) {
    text-align: right;
    padding-right: 4px;
}
#points_table td:nth-child(7) {
    text-align: right;
    padding-right: 4px;
}
#payment_table td:nth-child(5) {
    text-align: right;
    padding-right: 4px;
}
#payment_table td:nth-child(6) {
    text-align: right;
    padding-right: 4px;
}
.pages{
    font-size: 0.65em;
    text-decoration: underline;
    padding-top: 0.5em;
}
.table_change_title{
    width: 20%;
    font-weight: normal;
    color: blue;
    text-align: end;
    font-size: 0.9em;
    padding-right: 6px;
}
.link_line {
    font-size: 0.6em;
    margin-right: 20px;
}
.date_line {
    font-size: 0.7em;
    padding-top: 0.5em;
    margin-right: 0.5em;
    margin-left: 0.5em;
}
.text_line {
    font-size: 0.6em;
    padding-top: 0.3em;
    margin-right: 0.4em;
    margin-left: 0.4em;
}

.select_in_line {
    width: 25%;
	height: 1.5em;
	font-size: 0.7em;
    margin-left: 0.8em;
}
.btn_margin { margin-left: 35%;}
.wrapper{
    margin: 0 auto;
    width: 100%;
}
.half_page{
    display: inline-block;
    width: 49%;
    vertical-align: top;
    border: 1px solid black;
}
.choice_table th{
    text-align: center;
    font-size: 0.85em;
    font-weight: bold;
    padding: 3px;
    border: 1px solid black;
    position: sticky;
    top: 0;
    background: white;
}
.name_cell {
    width: 90%;
}
.parameter {
    width: 90%;
    text-align: left;
}
.box_cell {
    width: 10%;
    text-align: center;
}
.choice_table td{
    font-size: 0.8em;
    padding: 3px;
    vertical-align: top;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid black;
}
#other_branches {
    font-size: 0.6em;
    color: blue;
    text-decoration: underline;
}
