body {
	font-family: Arial, sans-serif;
	color: black;
	padding: 0;
	margin: 0;
 }
.container {
	padding: 0px 10px;
	margin: 0 auto;
}
h1 {
	font-size: 1.5em;
	padding: 0;
	margin: 0;
	}
h2 {
	font-size: 1.2em;
    line-height: 1.0;
	}
h3 {
	font-size: 1.0em;
    line-height: 0.8;
	}
h4 {
	font-size: 0.9em;
    line-height: 1.0;
	}
button {
	height: 25px;
	padding: 0px 10px;
    margin: 10px 0px ;
	color: black;
	font-size: 0.8em;
    font-weight: bold;
	width: 160px;
	background-color: cornsilk;
}
input{
	height: 25px;
	width: 240px;
	padding: 0px 8px;
	color: black;
	font-size: 0.85em;
	margin: 2px 0px;
	background-color: cornsilk;
}
input[type=radio] {
    width: 12px;
    height: 12px;
}
input[type=checkbox] {
    width: 12px;
    height: 12px;
}
.checkbox_margin {
    margin: 0px 0px 0px 0px;
    padding-top: 8px;
}
select{
    width: 260px;
	height: 25px;
	font-size: 0.85em;
	padding: 0px 8px;
	margin: 2px 0px;
	background-color: cornsilk;
}
textarea{
    width: 300px;
	rows: 4;
	font-size: 0.9em;
	padding: 0px 8px;
	margin: 2px 0px;
    wrap: soft;
	background-color: cornsilk;
}
.main_block{
    float: left;
}
.field {
	clear: both;
	text-align: right;
	line-height: 25px;
}
label {
	float: left;
	padding-right: 10px;
}
.content {
    width: 400 px;
	text-align: left;
	padding: 0px 4px;
}
span .title{
	float: left;
	padding-right: 10px;
}
p {clear: both;}
.user_title {
	padding: 0px 10px;
	display: flex;
	flex-direction: row;
    justify-content: flex-end;
}
.title_row{
	display: flex;
  	flex-direction: row;
  	justify-content: left;
    width: 100%;
}
.title_name{
    width: 200px;
    margin-left: 10px;
}
.cut_line {
    font-size: 0.8em;
    color: red;
    text-decoration: underline;
    margin-left: 20px;
    margin-top: 8px;
    margin-bottom: 6px;
    }
.table_body td{
    text-align: left;
    font-size: 0.9em;
    padding: 0 4px;
    vertical-align: top;
}
.color_text{
    color: blue;
    margin-left: 8px;
    font-weight: bold;
}
.scroll_table table{
    table-layout: fixed;
    border-bottom: none;
    width: 100%;
}
.scroll_table th{
    text-align: center;
    font-size: 0.85em;
    padding: 3px;
    border: 1px solid black;
}
.scroll_table td{
    text-align: left;
    font-size: 0.8em;
    padding: 3px;
    vertical-align: top;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid black;
}

.scroll_table_body table{
    width: 100%;
    overflow: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    border-bottom: none;
    background-color: white;
}
.scroll_table_body td{
    text-align: left;
    font-size: 0.8em;
    padding: 3px;
    vertical-align: top;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid black;
}
table th{
    text-align: left;
}
.table_title{
    width: 180px;
    font-weight: normal;
}
.pages{
    font-size: 0.8em;
    text-decoration: underline;
}
.table_change_title{
    width: 180px;
    font-weight: normal;
    color: blue;
    text-align: end;
    font-size: 0.9em;
    padding-right: 6px;
}
